/* CSS Document */

body{
	background-image:url(images/main.jpg);
	height: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
	font-family: "Avenir";
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color:#ffffff;
}
.navbar .navbar-collapse {
  	font-size: 24px;
 	padding: 10px 30px 10px 50px;
  	opacity: 0.8;
}
a{
	color: #ffffff;
}

.logo{
	height: 50px;
	width: 75px;
} 

.navbar-header{
	padding-right: 50px;
}

